@import '~sinosun-operation-ui/assets/style/init.less';
@import '~sinosun-operation-ui/assets/style/common.less';
@import './variables.less';

/* 标题 */
h2 {
	font-size: 16px;
	color: #2c5391;
	font-family: "黑体";
}

/* 内容区块 */
.wrapper{
	border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
	overflow: auto;
}

